.cart {
  width: 180px;
  height: 260px;
  border: 1px solid #cccccc;
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  color: #4a4a4a;
  background: #f3f3f3;

  &:hover {
    transform: scale(1.1);
  }
}

.beerName {
  font-weight: 600;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    margin: 5px 0;
  }
}

.cartImgContainer {
  width: 100px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 15px;

  img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
  }
}

.abvInfo {
  font-weight: 400;
}