.itemContainer {
    display: flex;
    flex-wrap: wrap;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: #f3f3f3;
    padding-top: 20px;

    h1 {
        margin-top: 0;
        padding-bottom: 20px;
    }
}

.d-flex {
    display: flex;
}

.imageContainer {
    max-height: 500px;
    img {
        display: block;
        height: 100%;
        width: auto;
    }
}

.infoContainer {
    text-align: left;
}

.tagline {
    font-style: italic;
    font-weight: 600;
}

.btn-title {
    margin-right: 15px;
}